alabaster
Babel
certifi
chardet
docutils
idna
imagesize
Jinja2
MarkupSafe
packaging
pkg-resources
Pygments
pyparsing
pytz
requests
six
snowballstemmer
Sphinx
sphinx-rtd-theme
sphinx-tabs
sphinxcontrib-websupport
typing
urllib3
